.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 140px 800px 800px 400px;
  grid-template-areas:
    "nav titlebar"
    "nav hero"
    "blocks blocks"
    "footer footer";
}

.nav-container {
  grid-area: nav;
  border-right: 1px solid #E8E8E8;
}

.titlebar-container {
  grid-area: titlebar;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.titlebar-article {
  display: grid;
  height: 140px;
  border-right: 1px solid #E8E8E8;
}

.titlebar-title {
  font-size: 12px;
}

.titlebar-date {
  font-size: 10px;
}

.titlebar-image {
  height: 70px;
  width: 70px;
}

.hero-container {
  grid-area: hero;
}

.hero-image {
  height: 800px;
  width: 400px;
}

.blocks-container {
  grid-area: blocks;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.blocks-article {
  display: grid;
  height: 800px;
}

.blocks-image {
  height: 200px;
  width: 400px;
}

.footer-container {
  grid-area: footer;
}

.footer-image {
  height: 400px;
  width: 3000px;
}
