.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 140px 1fr 1fr 1fr;
  grid-template-areas:
    "nav titlebar"
    "nav hero"
    "blocks blocks"
    "footer footer";
}

.nav {
  border: 1px solid black;
  grid-area: nav;
}

.titlebar {
  border: 1px solid black;
  grid-area: titlebar;
 /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    "tba tbb tbc tbd";*/
}

.hero {
  border: 1px solid black;
  grid-area: hero;
}

.blocks {
  border: 1px solid black;
  grid-area: blocks;
}

.footer {
  border: 1px solid black;
  grid-area: footer;
}

.tb1, .tb3 {
  background-color: red;
  grid-area: tba;
}

.tb2, .tb4 {
  background-color: red;
  grid-area: tbc;
}

